.journal__main-content {
    display: flex;
}

.journal__sidebar {
    display: flex;
    background-color: $dark-grey;
    color: white;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
    width: 450px;
}

.journal__sidebar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journal__sidebar-nav h3 {
    font-weight: lighter;
}

.journal__new-entry button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease;
}

.journal__entries {
    margin-top: 30px;
    flex: 1 1 auto;
}

.journal__entry {
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
}

.journal__entry-picture {
    height: 75px;
    width: 100px;
}

.journal__entry-body {
    padding: 10px;
}

.journal__entry-content {
    font-size: 12px;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}  

.journal__entry-date-box span {
    font-size: 12px;
}
